@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
  background: hsl(257, 40%, 49%) url('images/bg-desktop.svg') center no-repeat fixed;
  color: white;
  background-size: cover;
  display: grid;
  grid-template-areas: 'cabecalho' 'conteudo' 'redes-sociais' 'footer';
  grid-template-rows: 15vh 75vh 1fr 1vh;
}

.cabecalho{
  grid-area: cabecalho;
  padding: 2rem;
}
.cabecalho img{
  width: 20rem;
}

.conteudo{
  grid-area: conteudo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 5rem;
  gap: 3rem
}

.conteudo img{
  width: 100%;
}

.informacoes{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo .informacoes h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 3rem;
}
.conteudo .informacoes  p{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.5rem;
}

.conteudo .informacoes .button{
  align-self: flex-start;
}
.conteudo .informacoes .button p{
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  padding: 1rem 4rem;
  border-radius: 3rem;
  transition: 0.3s;
}
.conteudo .informacoes .button p:hover{
  color: hsl(300, 69%, 71%);
  cursor: pointer;
}

.redes-sociais{
  grid-area: redes-sociais;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 7rem;
  gap: 1.5rem;
}
.redes-sociais .rede{
  width: 1rem;
  height: 1rem;
  border: .1rem solid #000;
  filter: invert(1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.redes-sociais .rede:hover{
  cursor: pointer;
}

.redes-sociais div > img{
  width: 2rem;
  height: 2rem;
}

@media (max-width: 900px){
  .conteudo{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
  }
  .conteudo > .informacoes{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .conteudo .informacoes .button {
    align-self: center;
  }
  body .rodape >.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}
/*Padrão do Front end Mentor*/
.attribution, a {
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: yellow;
}
footer{
  grid-area: footer;
  font-family: Poppins;
}