.cabecalho{
  grid-area: cabecalho;
  padding: 3rem 5rem;
}
.cabecalho img{
  width: 20rem;
}

.conteudo{
  grid-area: conteudo;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin: auto 10rem;
  gap: 5rem
}
.conteudo  img{
  width: 100%;
  align-self: center;
}

.informacoes{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 10%;
  padding-bottom: 30%;
}
.conteudo .informacoes h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 3.5rem;
}
.conteudo .informacoes  p{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 2rem;
}
.conteudo .informacoes .button{
  align-self: flex-start;
}
.conteudo .informacoes .button p{
  background-color: #fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  color: hsl(257, 40%, 49%);
  padding: 1rem 4rem;
  border-radius: 3rem;
  transition: 0.2s;
}
.conteudo .informacoes .button p:hover{
  color: hsl(300, 69%, 71%);
  cursor: pointer;
}

.redes-sociais{
  grid-area: redes-sociais;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 7rem;
  gap: 1.5rem;
}
.redes-sociais .rede{
  width: 1rem;
  height: 1rem;
  border: .1rem solid #000;
  filter: invert(1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: 0.3s;
}
.redes-sociais .rede:hover{
  filter: invert(70%);
  cursor: pointer;
}

.rodape .redes-sociais div > img{
  width: 2rem;
  height: 2rem;
}

@media (max-width: 900px){
  html > body{
    background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
  }
  .conteudo{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
  }
  .conteudo > .informacoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .conteudo .informacoes .button {
    align-self: center;
  }
  body .rodape > .redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 1rem;
  }
  footer{
    margin-bottom: 2vh;
  }
}

.attribution, a {
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: yellow;
}
footer{
  grid-area: footer;
  font-family: Poppins;
}